<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="chassis">
  <link
    name="Frame">
    <inertial>
      <origin
        xyz="0.0928281919478462 -0.00673923092999855 0.151666421008473"
        rpy="0 0 0" />
      <mass
        value="1.5731528453802" />
      <inertia
        ixx="0.0218145784639336"
        ixy="-0.00154424352543078"
        ixz="8.40761431895854E-08"
        iyy="0.00042670429513181"
        iyz="2.24579560949427E-07"
        izz="0.0218008704749134" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/Frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/Frame.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_1">
    <inertial>
      <origin
        xyz="2.26501005035074E-06 -0.0334707379419106 -3.72874907977883E-07"
        rpy="0 0 0" />
      <mass
        value="2.55809164145743" />
      <inertia
        ixx="0.0142910768404817"
        ixy="6.68835490530129E-08"
        ixz="9.10300718206809E-09"
        iyy="0.0267766869584139"
        iyz="-8.33810412526065E-09"
        izz="0.0142909867417535" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_1 joint"
    type="continuous">
    <origin
      xyz="0.235410290235766 -0.216476724346139 0.133120838258486"
      rpy="-0.00440320604907234 0.00971868346536325 -0.0750440468661808" />
    <parent
      link="Frame" />
    <child
      link="wheel_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_2">
    <inertial>
      <origin
        xyz="9.28521727735498E-05 0.0334718985994525 -0.000144245708811025"
        rpy="0 0 0" />
      <mass
        value="2.55809223504083" />
      <inertia
        ixx="0.0142912069151952"
        ixy="4.24912130650615E-05"
        ixz="-1.72055124458042E-07"
        iyy="0.026776306808243"
        iyz="-5.46196789244644E-05"
        izz="0.0142912446422559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_2 joint"
    type="continuous">
    <origin
      xyz="0.266525567162584 0.180270295918439 0.132945090268382"
      rpy="0.00440320604907234 0.00971868346536325 -0.0682343762240833" />
    <parent
      link="Frame" />
    <child
      link="wheel_2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_3">
    <inertial>
      <origin
        xyz="2.2649315989387E-06 -0.0334707379464665 -3.72906138745854E-07"
        rpy="0 0 0" />
      <mass
        value="2.55809164171419" />
      <inertia
        ixx="0.0142910768411321"
        ixy="6.6867572156814E-08"
        ixz="9.10203159797975E-09"
        iyy="0.026776686956972"
        iyz="-8.336287049684E-09"
        izz="0.0142909867402285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_3 joint"
    type="continuous">
    <origin
      xyz="-0.263035310873453 -0.167879357557741 0.133064501213115"
      rpy="-0.00440320736914554 0.00974828930347111 -0.0683200977841862" />
    <parent
      link="Frame" />
    <child
      link="wheel_3" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_4">
    <inertial>
      <origin
        xyz="1.99595972960598E-06 0.0333630669871767 1.32608472092066E-07"
        rpy="0 0 0" />
      <mass
        value="2.55809229698053" />
      <inertia
        ixx="0.0142910620534096"
        ixy="-2.91645980447187E-08"
        ixz="1.40144867758775E-08"
        iyy="0.0267766929241229"
        iyz="3.46518444283218E-09"
        izz="0.0142910069486517" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/wheel_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_4 joint"
    type="continuous">
    <origin
      xyz="-0.235423855332057 0.216292173431824 0.133120129773804"
      rpy="0.00440320736914554 0.00974828930347111 -0.074958325306078" />
    <parent
      link="Frame" />
    <child
      link="wheel_4" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="steering_1">
    <inertial>
      <origin
        xyz="0.0664185054973778 -0.000224416842036529 0.0555578084550972"
        rpy="0 0 0" />
      <mass
        value="2.55809164145743" />
      <inertia
        ixx="0.0267094544786541"
        ixy="-4.24748120278745E-05"
        ixz="-0.00091275418677787"
        iyy="0.0142912221175339"
        iyz="3.13103804185604E-06"
        izz="0.0143580739444612" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steering_1 joint"
    type="revolute">
    <origin
      xyz="0.23696 -0.18808 0.072721"
      rpy="-0.010014 -0.077734 -1.6417" />
    <parent
      link="Frame" />
    <child
      link="steering_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.53"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="steering_2">
    <inertial>
      <origin
        xyz="-0.0662123651895732 0.00250495329102662 0.0552797242882834"
        rpy="0 0 0" />
      <mass
        value="2.55809223504083" />
      <inertia
        ixx="0.0267013804833695"
        ixy="1.64688283194989E-08"
        ixz="0.000966759457835992"
        iyy="0.0142910622973314"
        iyz="1.51716345493793E-08"
        izz="0.0143663155849933" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steering_2 joint"
    type="revolute">
    <origin
      xyz="0.26138 0.15232 0.072721"
      rpy="-0.010014 0.077734 -1.6432" />
    <parent
      link="Frame" />
    <child
      link="steering_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.53"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="steering_3">
    <inertial>
      <origin
        xyz="0.06641850855016 0.000223512178357865 0.0555578084236144"
        rpy="0 0 0" />
      <mass
        value="2.55809164171419" />
      <inertia
        ixx="0.0267094625667858"
        ixy="4.12752720131338E-05"
        ixz="-0.000912754547437277"
        iyy="0.0142912140283446"
        iyz="-3.02461647377579E-06"
        izz="0.0143580739432023" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steering_3 joint"
    type="revolute">
    <origin
      xyz="-0.26168 -0.13947 0.072664"
      rpy="-0.0095184 -0.0778 -1.6417" />
    <parent
      link="Frame" />
    <child
      link="steering_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.53"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="steering_4">
    <inertial>
      <origin
        xyz="-0.0788873259922855 0.000264777925895798 0.0546419591947892"
        rpy="0 0 0" />
      <mass
        value="2.55809229698053" />
      <inertia
        ixx="0.026709467645282"
        ixy="-4.13132997870762E-05"
        ixz="0.00091275833217215"
        iyy="0.0142911994935938"
        iyz="-3.0224935349543E-06"
        izz="0.0143580947873084" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis/meshes/steering_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steering_4 joint"
    type="revolute">
    <origin
      xyz="-0.23909 0.17541 0.072664"
      rpy="-0.0095184 0.0778 -1.6432" />
    <parent
      link="Frame" />
    <child
      link="steering_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.53"
      effort="0"
      velocity="0" />
  </joint>
</robot>
